

div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1B4543;
  margin: 5px;
  font-size: 38px;
  width: 100%;
}

div div button {
  background-color: #1B4543;
  color: #F0BE6F;
  margin-left: auto;
}
