
div.tables {
  display: flex;
  flex-wrap: wrap;
}

.table-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1B4543;
  margin: 5px;
  font-size: 38px;
  width: 100%;
  padding: 10px;
  margin: 10px;
}

div div button {
  background-color: #1B4543;
  color: #F0BE6F;
  margin-left: auto;
}

div.table:hover {
  box-shadow: 5px 5px #1b45436e;
}

.dropdown-content {
  background-color: #B3D0C6;
  color: #1B4543;
  width: 100%;
  height: 150px;
  display: none;
  margin-top: 10px;
  overflow: auto;
}
